<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<link rel="apple-touch-icon" href="/gomobile/2/images/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="/gomobile/2/images/apple-touch-startup-image-320x460.png" />

<title>华南农业大学</title>
<link type="text/css" rel="stylesheet" href="/gomobile/2/css/style.css"/>
<link type="text/css" rel="stylesheet" href="/gomobile/2/colors/medical/medical.css"/>
<link type="text/css" rel="stylesheet" href="/gomobile/2/css/idangerous.swiper.css"/>
<link type="text/css" rel="stylesheet" href="/gomobile/2/css/swipebox.css"/>
<link type="text/css" rel="stylesheet" href="/layui/css/layui.css"/>




<style type="text/css">
	*{font-family:微软雅黑;}
	.textp{
	border-bottom: 1px #ddd dashed;
	 text-indent:2em; 
	width: 100%;
 	margin:0px;padding:0px;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;}
    .titlep{
    	font-weight:bold;
    	margin:0px;padding:0px;
    }
    .portfolio_image{text-align: center}
    .portfolio_image img{margin-bottom: 7px;}
    .style_a{
    	margin-right:20px;
    }
   .style_a2{font-size: 15px;}
   .datalist{  
   width:100%;
    border:1px solid   green;  /* 表格边框 */  
    font-family:Arial;  
    border-collapse:collapse;   /* 边框重叠 */  
    background-color:#E6E6E6;   /* 表格背景色 */  
 
} 
  .datalist td{  
  vertical-align:middle;
  word-wrap:break-word;
word-break:break-all;
    border:1px solid white;   /* 单元格边框 */  
    padding-top:4px; padding-bottom:4px;  
	width:23.3%;
	 	font-size: 10px;
} 
  .datalist .righttd{
  background:#D9D9D9;
  	text-align: center;
  	
  	width:10%;
  	   font-size:14px;  
}
  .datalist .righttd div{
margin:0 auto;width:20px;line-height:15px;
}

.portfolio_item2{
padding:2px;width: 99%;
border: 1px dashed ;
}

</style>
</head>
<body>

  <div th:replace="pages/equipmentList :: #header"></div>
      <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">

      <div class="swiper-slide sliderbg ">
      <div class="swiper-container swiper-nested4">
               <div class="swiper-wrapper">
                    <div class="swiper-slide">
                              <div class="slide-inner">
                                        <div class="pages_container">
                                        <h2 class="page_title"></h2>
                                        <ul id="tabsmenu" class="tabsmenu">
                                            <li class="active" th:attr="class=${appoPage!=null?'active':''}"><a href="/manager/toAppointmentList">审批管理</a></li>
                                            <li th:if="${session.loginInfo!=null and session.loginInfo['account']=='sysadmin'}" th:attr="class=${userPage!=null?'active':''}"><a href="/manager/toUserList">用户管理</a></li>

                                        </ul>
                                        
                                        <div id="tab1" class="portfolio_item tabcontent" th:if="${appoPage!=null}" >
                                        	<div class="portfolio_item portfolio_item2" th:each="model:${appoPage.result}" >
                                        	<table class="datalist" >
                     
                                        		<tr >
                                        			<td class="righttd"><div>项目名称</div></td>
                                        			<td th:text="${model['PROJECTNAME']}">2</td>
                                        			<td class="righttd"><div>预约类型</div></td>
                                        			<td th:text="${model['APPOINTMENTTYPE']}">2</td>
                                        			<td class="righttd"><div>开始时间</div></td>
                                        			<td th:text="${model['BEGINTIME'].toString().substring(0,16)}">2</td>
                                        		</tr>
                                        		<tr>
                                        			<td class="righttd"><div>结束时间</div></td>
                                        			<td  th:text="${model['ENDTIME'].toString().substring(0,16)}">2</td>
                                        			<td class="righttd"><div>使用功能</div></td>
                                        			<td  th:text="${model['useTypeCode']}">2</td>
                                        			<td class="righttd"><div>样品名称</div></td>
                                        			<td  th:text="${model['SAMPLENAME']}">2</td>
                                        		</tr>
                                        		<tr>
                                        			<td class="righttd"><div>操作人</div></td>
                                        			<td  th:text="${model['HANDLER']}">2</td>
                                        			<td class="righttd"><div>审批状态</div></td>
                                        			<td th:switch="${model['STATUS']}">
													<span th:case="0">待审核</span>
													<span th:case="1">通过</span>
													<span th:case="2">不通过</span>
													
												</td>
                                        			<td class="righttd"><div>审批意见</div></td>
                                        			<td th:text="${model['AUDITMESSAGE']}"></td>
                                        		</tr>
                                               		<tr>
                                               		<td class="righttd"><div>评价</div></td>
                                        			<td th:text="${model['ASSESS']}" colspan="4">2</td>
                                        			<td  align="right" th:switch="${model['STATUS']}">
                                        			<span th:case="0"><button class="layui-btn shenpi" th:if="${session.loginInfo!=null and session.loginInfo['account']!='sysadmin'}" th:attr="id=${model['ID']}"  style="padding: 0px;width: 80%" id="pingjie">审　批</button></span>
	
                                        			 	
                                        			</td>
                                        			
                                        		</tr>
                                        	</table>
                                        </div>
                                        	<div id="pages"></div>
                                        </div>
                                        <div id="tab2" class="portfolio_item tabcontent"  th:if="${session.loginInfo!=null and session.loginInfo['account']=='sysadmin' and userPage!=null}" >
                                        <button class="layui-btn" style="margin-bottom: 7px;" id="btnadd">添加用户</button>
                                        <div class="portfolio_item portfolio_item2" th:each="model:${userPage.result}" >
                                        	<table class="datalist" >
                                        		<tr>
                                        		     <td class="righttd"><div>用户帐号</div></td>
                                        			<td th:text="${model['ACCOUNT']}">2</td>
                                        			<td class="righttd"><div>工号/学号</div></td>
                                        			<td th:text="${model['USERNUMBER']}">2</td>
                                        			<td class="righttd"><div>真实姓名</div></td>
                                        			<td th:text="${model['NAME']}">2</td>
                                        		</tr>
                                        		<tr>
                                        		     <td class="righttd"><div>手机号码</div></td>
                                        			<td th:text="${model['MOBILE']}">2</td>
                                        			<td class="righttd"><div>所在单位</div></td>
                                        			<td th:text="${model['DEPARTMENT']}">2</td>
                                        			<td class="righttd"><div>注册时间</div></td>
                                        			<td th:text="${model['REGISTERTIME']!=null?model['REGISTERTIME'].toString().substring(0,16):''}">2</td>
                                        		</tr>
                                        	</table>
                                        </div>
                                       <div id="pages"></div>
                                        </div>

                                        <div class="clearfix"></div>
      									<div class="scrolltop"><a href="#" class="scrolltop4"><img src="/gomobile/2/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        
                                        <!--End of page container-->
                              </div>
                    </div>
              </div>
              <div class="swiper-scrollbar4"></div>
     </div>
     </div>
     
 
      <!--Page 6 content-->
     
  <div class="pagination"></div>
  </div>
  
  </div>
<script type="text/javascript" src="/gomobile/2/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/gomobile/2/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="/gomobile/2/js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="/gomobile/2/js/idangerous.swiper.scrollbar-2.1.js"></script>

<script type="text/javascript" src="/gomobile/2/js/code.js"></script>
<script type="text/javascript" src="/gomobile/2/js/load.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>

<script type="text/javascript"  th:inline="javascript">
	var isLogin=false;
	/* <![CDATA[*/

	layui.use(['laypage', 'layer'],function(){
		var laypage = layui.laypage
		var layer = layui.layer;
		laypage({
			    cont: 'pages',
			    pages:  /*[[${appoPage!=null?appoPage.pages:userPage!=null?userPage.pages:0}]]*/ ,//总页数
			    groups: 5 ,//连续显示分页数
			    curr: function(){ //通过url获取当前页，也可以同上（pages）方式获取
			        var page = location.search.match(/pageNum=(\d+)/);
			        return page ? page[1] : 1;
			      }(),
			    jump: function(e, first){ //触发分页后的回调
			        if(!first){ //一定要加此判断，否则初始时会无限刷新
			          location.href = '?pageNum='+e.curr;
			        }
			      }
			  });
		$(".shenpi").click(function(){
			var idvalue=this.id;
			layer.open({
				  type: 2, 
				  area: ['70%','320px'],
				 
				  content: '/pages/toShenPi?id='+idvalue //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
			});
		})
		$("#btnadd").click(function(){
			var idvalue=this.id;
			layer.open({
				  type: 2, 
				  area: ['70%','200px'],
				 
				  content: '/pages/toEditUser' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
			});
		})
	})

		
	
	/* ]]>*/
</script>
</body>
</html>
