<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<link href="/login/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/login/css/login.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/gomobile/2/js/jquery-1.10.1.min.js"></script>

<title>华南农业大学</title>
</head>
<body>
<div class="loginwrapper" >
	<form class="login">
		<p class="title">登 录</p>
		<input type="text" placeholder="Username"  name="account" autofocus="autofocus"/>
		<i class="fa fa-user"></i>
		<input type="password" placeholder="Password" name="password" />
		<i class="fa fa-key"></i>
		<input type="hidden" name="jumpurl" th:value="${jumpurl}"/>
		<button>
			<i class="spinner"></i>
			<span class="state">登　入</span>
		</button>
	</form>
</div>
<script src="/login/js/index.js" type="text/javascript"></script>
</body>
</html>