<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <th:block th:include="pages/manager/common/cssResources::syscssresources"></th:block>
        <th:block th:include="pages/manager/common/jsResources::sysjsresources"></th:block>

	</head>
    <body class="withvernav">
    <div class="bodywrapper">

        <th:block th:include="pages/manager/common/header::sysheader"></th:block>
        <th:block th:include="pages/manager/common/menus::sysmenus"></th:block>
       <div class="centercontent tables">

           <!-- <div class="pageheader notab">
           <h1 class="pagetitle">Tables</h1>
           <span class="pagedesc">This is a sample description of a page</span>

       </div>--><!--pageheader-->

            <div id="contentwrapper" class="contentwrapper">
                <div class="contenttitle2">
                    <h3>红包使用统计</h3>

                </div><!--contenttitle-->


                <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <colgroup>
                        <!--<col class="con0" style="width: 4%" />-->
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />

                        <col class="con0" />
                        <col class="con0" />
                    </colgroup>
                    <thead>

                    <tr>
                       
                        <th class="head1">活动名称</th>
                        <th class="head0">红包总额（元）</th>
                        <th class="head1">剩余金额（元）</th>
                        <th class="head0">已领取数量</th>
                        <th class="head1">已领取金额（元）</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr th:if="${redPacketList!=null && !#lists.isEmpty(redPacketList)}" th:each="obj:${redPacketList}">
                       
                        <td th:text="${obj['taName']}">Trident</td>
                        <td th:text="${#TdTool.getRealAmount(obj['taAmount']==null?0:obj['taAmount'])}">Win 95+</td>
                        <td th:text="${#TdTool.getRealAmount(obj['taUsed']!=null and obj['taAmount']!=null?(obj['taAmount']-obj['taUsed']):obj['taAmount'])}">Win 95+</td>
                        <td th:text="${obj['trcount']==null?0:obj['trcount']}">Win 95+</td>
                        <td th:text="${#TdTool.getRealAmount(obj['trsum']==null?0:obj['trsum'])}">Win 95+</td>


                    </tr>

                    </tbody>

                </table>

            </div>
        </div>

    </div>

	</body>

</html>
