<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dao.EventKeyMapper">

    <resultMap id="BaseResultMap" type="com.ty.entity.EventKey">
        <id property="id" column="id"/>
        <result property="appid" column="appid"/>
        <result property="key" column="key"/>
        <result property="rule_id" column="rule_id"/>
        <result property="match" column="match"/>
        <result property="create_date" column="create_date"/>
        <result property="eventRule.title" column="eventRule.title"/>
    </resultMap>

    <sql id="Base_Column_List">
        a.id,
        a.appid,
        `key`,
        rule_id,
        `match`,
        a.create_date,
        u.title AS "eventRule.title"
    </sql>

    <sql id="baseJoins">
        LEFT JOIN weixin_event_rule u ON u.id = a.rule_id
    </sql>

    <insert id="insert" parameterType="com.ty.entity.EventKey">
        insert into weixin_event_key
        (appid,`key`,rule_id,`match`,create_date)
        values(
        #{appid, jdbcType=VARCHAR},
        #{key, jdbcType=VARCHAR},
        #{rule_id, jdbcType=INTEGER},
        #{match, jdbcType=INTEGER},
        now()
        )
    </insert>

    <update id="update" parameterType="com.ty.entity.EventKey">
        update weixin_event_key
         <set >
		      <if test="key != null" >
                  `key`=#{key, jdbcType=VARCHAR},
		      </if>
		      <if test="rule_id != null" >
                  rule_id=#{rule_id, jdbcType=INTEGER},
		      </if>
		      <if test="match != null" >
                  `match`=#{match, jdbcType=INTEGER},
		      </if>
		    </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delete" parameterType="int">
        delete from weixin_event_key
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <select id="findList" resultMap="BaseResultMap"  parameterType="com.gen.framework.common.util.Page">
        select
        <include refid="Base_Column_List"/>
        from weixin_event_key a
        <include refid="baseJoins"/>
        where a.appid = #{appid,jdbcType=VARCHAR}
        order by create_date desc
        <!-- 数据范围过滤 -->
        <choose>
            <when test="page !=null">
                limit  #{page.startRow, jdbcType=INTEGER},#{page.endRow, jdbcType=INTEGER}
            </when>
        </choose>
    </select>

    <select id="findListCount" resultType="int">
        select
        count(*)
        from weixin_event_key
        where appid = #{appid,jdbcType=VARCHAR}
    </select>

    <select id="findListAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from weixin_event_key a
        <include refid="baseJoins"/>
        where a.appid = #{appid,jdbcType=VARCHAR}
    </select>

    <select id="selectById" resultMap="BaseResultMap" parameterType="int">
        select
        <include refid="Base_Column_List"/>
        from weixin_event_key a
        <include refid="baseJoins"/>
        where a.id = #{id,jdbcType=INTEGER}
    </select>

</mapper>