<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dao.TagsMapper">

    <resultMap id="BaseResultMap" type="com.ty.entity.Tags">
        <id property="id" column="id"/>
        <result property="appid" column="appid"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
        <result property="create_date" column="create_date"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        appid,
        `name`,
        `count`,
        create_date
    </sql>

    <insert id="insert" parameterType="com.ty.entity.Tags">
        insert into weixin_tag
        (id,appid,`name`,`count`,create_date)
        values(
        #{entity.id, jdbcType=INTEGER},
        #{entity.appid, jdbcType=VARCHAR},
        #{entity.name, jdbcType=VARCHAR},
        #{entity.count, jdbcType=INTEGER},
        now()
        )
    </insert>

    <update id="update" parameterType="com.ty.entity.Tags">
        update weixin_tag
         <set >
		      <if test="name != null" >
                  `name`=#{name, jdbcType=VARCHAR},
		      </if>
		      <if test="count != null" >
                  `count`=#{count, jdbcType=INTEGER},
		      </if>
		      <if test="create_date != null" >
                  create_date=now(),
		      </if>
		    </set>
        where id =  #{id,jdbcType=INTEGER}
    </update>

    <select id="selectById" resultMap="BaseResultMap" parameterType="com.ty.entity.Tags">
        select
        <include refid="Base_Column_List"/>
        from weixin_tag
        where id = #{entity.id,jdbcType=VARCHAR}
        and appid = #{entity.appid, jdbcType=VARCHAR}
    </select>

    <!-- 不分页查询标签信息 -->
    <select id="findListAll" resultType="com.ty.entity.Tags">
        SELECT
        <include refid="Base_Column_List"/>
        FROM weixin_tag
        WHERE 1=1
        <if test="entity.appid != null and entity.appid != ''">
            AND appid  = #{entity.appid}
        </if>
        <if test="entity.name != null and entity.name != ''">
            AND upper(name)  LIKE
            CONCAT('%', upper(#{entity.name}), '%')
        </if>
        <if test="entity.id != null and entity.id != ''">
            AND id  = #{entity.id}
        </if>
        ORDER BY create_date desc
    </select>

    <!-- 分页查询标签信息 -->
    <select id="findList" resultType="com.ty.entity.Tags">
        SELECT
        <include refid="Base_Column_List"/>
        FROM weixin_tag
        WHERE 1=1
        <if test="entity.appid != null and entity.appid != ''">
            AND appid  = #{entity.appid}
        </if>
        <if test="entity.name != null and entity.name != ''">
            AND upper(name)  LIKE
            CONCAT('%', upper(#{entity.name}), '%')
        </if>
        <if test="entity.id != null and entity.id != ''">
            AND id  = #{entity.id}
        </if>
        ORDER BY create_date desc
        <!-- 数据范围过滤 -->
        <choose>
            <when test="page !=null">
                limit  #{page.startRow, jdbcType=INTEGER},#{page.endRow, jdbcType=INTEGER}
            </when>
        </choose>
    </select>

    <select id="findListCount" resultType="int">
        SELECT
        count(*)
        FROM weixin_tag
        WHERE 1=1
        <if test="entity.appid != null and entity.appid != ''">
            AND appid  = #{entity.appid}
        </if>
        <if test="entity.name != null and entity.name != ''">
            AND upper(name)  LIKE
            CONCAT('%', upper(#{entity.name}), '%')
        </if>
        <if test="entity.id != null and entity.id != ''">
            AND id  = #{entity.id}
        </if>
    </select>

    <delete id="delete" parameterType="com.ty.entity.Tags">
        delete from weixin_tag
        where id = #{entity.id,jdbcType=INTEGER}
        and appid = #{entity.appid, jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByAppid" parameterType="String">
        delete from weixin_tag
        where appid = #{appid, jdbcType=VARCHAR}
    </delete>
    
</mapper>