<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dao.TyRedPacketMapper">

   <select id="getCount"  resultType="java.util.HashMap" parameterType="java.lang.Boolean">
     select ta.taName,ta.taAmount,ta.taUsed,tar.* from ty_activity ta left JOIN (select
      trActivityId trid,
      count(id) trcount ,
      sum(trAmount) trsum
      from ty_activity_red_packet
       GROUP BY trActivityId) tar  on ta.id=tar.trid

   </select>

</mapper>