<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ty.dao.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.ty.entity.UserInfo">
        <id property="openid" column="openid"/>
        <result property="nickname" column="nickname"/>
        <result property="sex" column="sex"/>
        <result property="language" column="language"/>
        <result property="country" column="country"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="headimgurl" column="headimgurl"/>
        <result property="subscribe" column="subscribe"/>
        <result property="subscribe_time" column="subscribe_time"/>
        <result property="unionid" column="unionid"/>
        <result property="remark" column="remark"/>
        <result property="groupid" column="groupid"/>
        <result property="fakeid" column="fakeid"/>
        <result property="appid" column="appid"/>
        <result property="create_date" column="create_date"/>
        <result property="update_date" column="update_date"/>
    </resultMap>

    <sql id="Base_Column_List">
        openid,
        nickname,
        (CASE when sex='1' THEN '男性' WHEN sex='2' THEN '女性' else '未知' END) sex,
        language,
        country,
        province,
        city,
        headimgurl,
        (CASE when subscribe='1' THEN '关注' else '未关注' END) subscribe,
        subscribe_time,
        unionid,
        remark,
        groupid,
        appid,
        a.create_date,
        a.update_date
    </sql>

    <insert id="insert" parameterType="com.ty.entity.UserInfo">
        insert into weixin_user
        (openid,nickname,sex,language,country,province,city,headimgurl,subscribe,subscribe_time,unionid,remark,groupid,appid,create_date,update_date)
        values(
        #{userInfo.openid, jdbcType=VARCHAR},
        #{userInfo.nickname, jdbcType=VARCHAR},
        #{userInfo.sex, jdbcType=INTEGER},
        #{userInfo.language, jdbcType=VARCHAR},
        #{userInfo.country, jdbcType=VARCHAR},
        #{userInfo.province, jdbcType=VARCHAR},
        #{userInfo.city, jdbcType=VARCHAR},
        #{userInfo.headimgurl, jdbcType=VARCHAR},
        #{userInfo.subscribe, jdbcType=VARCHAR},
        #{userInfo.subscribe_time, jdbcType=TIMESTAMP},
        #{userInfo.unionid, jdbcType=VARCHAR},
        #{userInfo.remark, jdbcType=VARCHAR},
        #{userInfo.groupid, jdbcType=INTEGER},
        #{userInfo.appid, jdbcType=VARCHAR},
        now(),now()
        )
    </insert>

    <update id="update" parameterType="com.ty.entity.UserInfo">
        update weixin_user
         <set >
		      <if test="nickname != null" >
		       nickname=#{nickname, jdbcType=VARCHAR}, 
		      </if>
		      <if test="sex != null" >
		       sex=#{sex, jdbcType=INTEGER}, 
		      </if>
		      <if test="language != null" >
		        language=#{language, jdbcType=VARCHAR}, 
		      </if>
		      <if test="country != null" >
		        country=#{country, jdbcType=VARCHAR}, 
		      </if>
		      <if test="province != null" >
		        province=#{province, jdbcType=VARCHAR}, 
		      </if>
		      <if test="city != null" >
		        city=#{city, jdbcType=VARCHAR}, 
		      </if>
		      <if test="headimgurl != null" >
                headimgurl=#{headimgurl, jdbcType=VARCHAR},
		      </if>
		      <if test="subscribe != null" >
		        subscribe=#{subscribe, jdbcType=VARCHAR}, 
		      </if>
		      <if test="subscribe_time != null" >
		        subscribe_time=#{subscribe_time, jdbcType=TIMESTAMP},
		      </if>
		      <if test="unionid != null" >
		        unionid=#{unionid, jdbcType=VARCHAR}, 
		      </if>
		      <if test="remark != null" >
		        remark=#{remark, jdbcType=VARCHAR}, 
		      </if>
		      <if test="groupid != null" >
		        groupid=#{groupid, jdbcType=INTEGER}, 
		      </if>
		      <if test="appid != null" >
		        appid=#{appid, jdbcType=VARCHAR},
		      </if>
		      <if test="update_date != null" >
		        update_date=now(), 
		      </if>
		    </set>
        where openid =  #{openid,jdbcType=VARCHAR}
    </update>

    <select id="selectByopenid" resultMap="BaseResultMap" parameterType="com.ty.entity.UserInfo">
        select
        <include refid="Base_Column_List"/>
        from weixin_user a
        where openid = #{openid,jdbcType=VARCHAR}
    </select>

    <!-- 分页查询用户信息 -->
    <select id="findList" resultType="com.ty.entity.UserInfo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM weixin_user a
        WHERE 1=1
        <if test="userInfo.nickname != null and userInfo.nickname != ''">
            AND upper(a.nickname)  LIKE
            CONCAT('%', upper(#{userInfo.nickname}), '%')
        </if>
        <if test="userInfo.openid != null and userInfo.openid != ''">
            AND a.openid  LIKE
            CONCAT('%', #{userInfo.openid}, '%')
        </if>
        <if test="userInfo.remark != null and userInfo.remark != ''">
            AND a.remark  LIKE
            CONCAT('%', #{userInfo.remark}, '%')
        </if>
        <if test="userInfo.country != null and userInfo.country != ''">
            AND a.country  LIKE
            CONCAT('%', #{userInfo.country}, '%')
        </if>
        <if test="userInfo.province != null and userInfo.province != ''">
            AND a.province  LIKE
            CONCAT('%', #{userInfo.province}, '%')
        </if>
        <if test="userInfo.city != null and userInfo.city != ''">
            AND a.city  LIKE
            CONCAT('%', #{userInfo.city}, '%')
        </if>
        <if test="userInfo.subscribe != null and userInfo.subscribe != ''">
            AND a.subscribe  = #{userInfo.subscribe}
        </if>
        <if test="userInfo.sex != null and userInfo.sex != ''">
            AND a.sex  = #{userInfo.sex}
        </if>
        ORDER BY a.subscribe_time desc
        <!-- 数据范围过滤 -->
        <choose>
            <when test="page !=null">
                limit  #{page.startRow, jdbcType=INTEGER},#{page.endRow, jdbcType=INTEGER}
            </when>
        </choose>
    </select>

    <select id="findListCount" resultType="int">
        SELECT
        count(*)
        FROM weixin_user a
        WHERE 1=1
        <if test="userInfo.nickname != null and userInfo.nickname != ''">
            AND upper(a.nickname)  LIKE
            CONCAT('%', upper(#{userInfo.nickname}), '%')
        </if>
        <if test="userInfo.openid != null and userInfo.openid != ''">
            AND a.openid  LIKE
            CONCAT('%', #{userInfo.openid}, '%')
        </if>
        <if test="userInfo.remark != null and userInfo.remark != ''">
            AND a.remark  LIKE
            CONCAT('%', #{userInfo.remark}, '%')
        </if>
        <if test="userInfo.country != null and userInfo.country != ''">
            AND a.country  LIKE
            CONCAT('%', #{userInfo.country}, '%')
        </if>
        <if test="userInfo.province != null and userInfo.province != ''">
            AND a.province  LIKE
            CONCAT('%', #{userInfo.province}, '%')
        </if>
        <if test="userInfo.city != null and userInfo.city != ''">
            AND a.city  LIKE
            CONCAT('%', #{userInfo.city}, '%')
        </if>
        <if test="userInfo.subscribe != null and userInfo.subscribe != ''">
            AND a.subscribe  = #{userInfo.subscribe}
        </if>
        <if test="userInfo.sex != null and userInfo.sex != ''">
            AND a.sex  = #{userInfo.sex}
        </if>
    </select>
    
    <select id="findOpenidList" parameterType="java.lang.String" resultType="java.util.HashMap">
    	select openid
    	FROM weixin_user
    	where appid = #{appid}
    </select>
</mapper>