<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>翼支付-公众号-余额查询</title>

    <th:block th:include="pages/wap/common/resources::wapresources-head"></th:block>
    <link rel="stylesheet" href="/wap/css/balanceInquiries.css">
</head>
<body>
<div class="scroll scroll-active">
    <div class="content bg-grey">
        <nav class="bg-white tabs">
            <a class="active" data-type="0">本月</a>
            <a data-type="1">上月</a>
            <a data-type="2">前月</a>
        </nav>
        <div class="pd-tabs">
            <ul class="tab-containers">
                <li class="pd-tab" data-type="0">
                    <div class="title">
                        <i class="icon-pandect"></i>本月总览
                    </div>
                    <div class="bg-white pandect-box">
                        <div class="pandect">
                            <div class="fl">
                                <p th:inline="text">[[${currentMonth!=null and currentMonth['transCount']!=null?currentMonth['transCount']:'0'}]]<span class="unit">笔</span><span >当月共交易</span></p>
                            </div>
                            <div class="fl">
                                <p th:inline="text" >[[${#TdTool.getRealAmount(currentMonth!=null and currentMonth['transSumAmt']!=null?currentMonth['transSumAmt']+'':'0.00')}]]<span class="unit">元</span><span>当月充值金额</span></p>
                            </div>

                        </div>
                    </div>

                    <div class="title">
                      <i class="icon-detail"></i>项目明细
                    </div>
                    <ul class="detail-list">
                        <li th:if="${currentMonth!=null and currentMonth['list']!=null }" th:each="data:${currentMonth['list']}">
                            <div class="detail-con">
                                <span class="name" th:text="${data?.mchntName}">天翼电子商务有限公司-00000871205020天翼电子商务有限公司</span>
                                <span th:text="${data?.orderDate}">时间：2017-11-21  11:30:20</span>
                                <span th:inline="text">说明：[[${data?.tradeType}]]</span>
                                <span class="money" th:text="${#TdTool.getRealAmount(data?.tradeAmt+'')}">30.00元</span>
                            </div>
                        </li>

                    </ul>
                </li>
                <li class="pd-tab" data-type="1">
                    <div class="title">
                        <i class="icon-pandect"></i>上月总览
                    </div>
                    <div class="bg-white pandect-box">
                        <div class="pandect">
                            <div class="fl">
                                <p th:inline="text">[[${lastMonth!=null and lastMonth['transCount']!=null?lastMonth['transCount']:'0'}]]<span class="unit">笔</span><span >当月共交易</span></p>
                            </div>
                            <div class="fl">
                                <p th:inline="text" >[[${#TdTool.getRealAmount(lastMonth!=null and lastMonth['transSumAmt']!=null?lastMonth['transSumAmt']+'':'0.00')}]]<span class="unit">元</span><span>当月充值金额</span></p>
                            </div>

                        </div>
                    </div>

                    <div class="title">
                        <i class="icon-detail"></i>项目明细
                    </div>
                    <ul class="detail-list">
                        <li th:if="${lastMonth!=null and lastMonth['list']!=null}" th:each="data:${lastMonth['list']}">
                            <div class="detail-con">
                                <span class="name" th:text="${data?.mchntName}">天翼电子商务有限公司-00000871205020天翼电子商务有限公司</span>
                                <span th:text="${data?.orderDate}">时间：2017-11-21  11:30:20</span>
                                <span th:inline="text">说明：[[${data?.tradeType}]]</span>
                                <span class="money" th:text="${#TdTool.getRealAmount(data?.tradeAmt+'')}">30.00元</span>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="pd-tab" data-type="2">
                    <div class="title">
                        <i class="icon-pandect"></i>前月总览
                    </div>
                    <div class="bg-white pandect-box">
                        <div class="pandect">
                            <div class="fl">
                                <p th:inline="text">[[${beforeLastMonth!=null and beforeLastMonth['transCount']!=null?beforeLastMonth['transCount']:'0.00'}]]<span class="unit">笔</span><span >当月共交易</span></p>
                            </div>
                            <div class="fl">
                                <p th:inline="text" >[[${#TdTool.getRealAmount(beforeLastMonth!=null and beforeLastMonth['transSumAmt']!=null?beforeLastMonth['transSumAmt']+'':'0.00')}]]<span class="unit">元</span><span>当月充值金额</span></p>
                            </div>

                        </div>
                    </div>

                    <div class="title">
                        <i class="icon-detail"></i>项目明细
                    </div>
                    <ul class="detail-list">
                        <li th:if="${beforeLastMonth!=null and beforeLastMonth['list']!=null}" th:each="data:${beforeLastMonth['list']}">
                            <div class="detail-con">
                                <span class="name" th:text="${data?.mchntName}">天翼电子商务有限公司-00000871205020天翼电子商务有限公司</span>
                                <span th:text="${data?.orderDate}">时间：2017-11-21  11:30:20</span>
                                <span th:inline="text">说明：[[${data?.tradeType}]]</span>
                                <span class="money" th:text="${#TdTool.getRealAmount(data?.tradeAmt+'')}">30.00元</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>
</body>
<th:block th:include="pages/wap/common/resources::wapresources-foot"></th:block>
<script src="/wap/js/balanceInquiries.js" type="text/javascript" charset="utf-8"></script>
</html>