<!DOCTYPE html>
<html>

<html xmlns:th="http://www.thymeleaf.org">
    <title>翼支付-公众号-绑定手机</title>
    <th:block th:include="pages/wap/common/resources::wapresources-head"></th:block>
    <link rel="stylesheet" href="/wap/css/bindingPhone.css">
</head>
<body>

<div class="scroll scroll-active">
    <div class="content">
        <div class="suc-con">
            <span class="icon-warn"></span>
            <span class="sp1">您已绑定</span>
            <span class="sp2">绑定手机后，即可参与抢红包活动！~</span>
            <a href="">去抢红包</a>
        </div>
    </div>
</div>
</body>
<th:block th:include="pages/wap/common/resources::wapresources-foot"></th:block>
<script>
    (function() {
        FastClick.attach(document.body);
    })();
</script>

</html>