<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no">
    <title>翼支付-公众号-绑定手机</title>
    <link rel="stylesheet" href="/wap/css/main.css">
    <link rel="stylesheet" href="/wap/css/bindingPhone.css">
    <script src="/wap/js/lib/adapt.js"></script>
</head>
<body>

<div class="scroll scroll-active">
    <div class="content inup-content">
        <section class="sign-up">
            <form class="form-sign">
                <div class="input-wrapper with-phone">
                    <span class="area-code">+86</span>
                    <input type="tel" name="" value="" placeholder="请输入手机号码" maxlength="11" id="tel">
                </div>
                <div class="input-wrapper with-code">
                    <input type="tel" name="" value="" placeholder="验证码" maxlength="6" id="code">
                    <div class="btn-input-wrapper code-sms">
                        获取验证码
                    </div>
                </div>
                <div class="btn btn-red" id="btn_binding">
                    立即绑定
                </div>
            </form>
        </section>
        <div class="tip tip-bottom">
            <span>温馨提示</span>
            1、手机号码绑定，请勿重复绑定。<br/>
            2、手机绑定成功后，后续使用将无需再进行绑定。<br/>
            3、绑定您的翼支付账户，轻松玩转微信！还可在<br/>
            “精彩甜橙”栏目中体验丰富应用和超值消费。<br/>
            4、如未开通翼支付账户，请点击此处进行开户。<br/>
            可使用团贷网账号密码进行登录
        </div>
    </div>
</div>
</body>
<script src="/wap/js/lib/fastclick-jquery.js"></script>
<script src="/wap/js/common/util.js" type="text/javascript" charset="utf-8"></script>
<script src="/wap/js/bindingPhone.js" type="text/javascript" charset="utf-8"></script>
</html>