<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>翼支付-公众号-红包领取</title>

    <th:block th:include="pages/wap/common/resources::wapresources-head"></th:block>
    <link rel="stylesheet" href="/wap/css/cashRedpacket.css">
</head>
<body>
<div class="scroll scroll-active">
    <div class="content">
        <i class="icon-jb1 pos-a"></i>
        <i class="icon-jb2 pos-a"></i>
        <i class="icon-jb3 pos-a"></i>
        <i class="caidai pos-a"></i>
        <i class="piaofu pos-a"></i>
        <div class="main pos-r">
            <div class="txt-box">
                <p class="txt-ani">翼支付充值红包领取</p>
            </div>
            <div class="red-packet"  th:if="${rpNum>0 and isOpen==null}">
                <span class="tips">点击领取红包</span>
                <a th:href="'do-open-red-packet?token='+${#httpServletRequest.getParameter('token')}" class="btn-open bg-size" id="btnOpen">
                    <span class="btn-open-bg bg-size bouncein"></span>
                    <span class="kai bg-size"></span>
                </a>
            </div>

            <div class="red-packet red-packet-none" th:if="${isOpen!=null}">

                <span th:text="${rpNum>0?'恭喜你，领取到'+rpNum+'个红包':'抱歉，红包领取完了！'}">抱歉，红包领取完了！</span>
                <a th:href="'to-red-packet-record?token='+${#httpServletRequest.getParameter('token')}">查看领取详情></a>
            </div>
            <a href="javascript:;" class="btn-rule" id="showRule">活动规则</a>

        </div>
    </div>
</div>

<!--规则-->
<div class="mask rule-mask hide" id="ruleMask_s" >
    <div class="pop-container">
        <div class="pop-rule">
            <div class="title">活动规则</div>
            <p data-content="①">发起人（当前待收>0）瓜分到红包进行分享；</p>
            <p data-content="②">好友（非平台注册用户）通过分享链接参与活动并获得红包，2名好友即可；</p>
            <p data-content="③">组团（发起人+2名好友）成功，团队成员瓜分到的红包处于冻结状态；</p>
            <p data-content="④">团队内每个好友首笔投资金额≥1000元（需投资1个月及以上项目，债权转让除外），发起者及2名好友奖励解冻，可前往团宝箱领取；</p>
        </div>
        <a href="JavaScript:;" class="clase bg-size" id="clsoeRuleMask"></a>
    </div>
</div>


</body>
<th:block th:include="pages/wap/common/resources::wapresources-foot"></th:block>
<script src="/wap/js/cashRedpacket.js" type="text/javascript" charset="utf-8"></script>
</html>