<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no">
    <title>翼支付-公众号-个人中心</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/personal.css">
    <script src="../js/lib/adapt.js"></script>
</head>
<body>

<div class="scroll scroll-active">
    <div class="content">
        <div class="top-txt">
            您还没绑定手机号，为了您的福利，<a href="">请立即前往绑定</a>
        </div>
        <div class="avatar-con">
            <div class="avatar">
                <img src="../images/avatar.png" alt="">
            </div>
            <p>欢迎您，GT（<span>未绑定手机</span>）</p>
            <!--已绑定
            <p>欢迎您，GT（<span>13568748411</span>）</p>
            -->
            <a href="">更换登记账号</a>
        </div>
        <div class="main">
            <div class="con">
                <span>可用余额</span>
                <span>4210.35<em>元</em></span>
                <a href="">查看余额明细</a>
            </div>
            <div class="con">
                <span>可用余额</span>
                <span>4210.35<em>元</em></span>
                <a href="redpacketRecord.html">查看红包明细</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../js/lib/fastclick-jquery.js"></script>
<script src="../js/common/util.js" type="text/javascript" charset="utf-8"></script>
<script>
    (function() {
        FastClick.attach(document.body);
    })();
</script>
</html>