<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>翼支付-公众号-红包详情</title>
    <th:block th:include="pages/wap/common/resources::wapresources-head"></th:block>

    <link rel="stylesheet" href="/wap/css/record.css">

</head>
<body>
<div class="scroll scroll-active">
    <div class="content">
        <div class="list-container">
            <div class="list-wrapper" id="recordList">
                <div class="list-scroller">
                    <section class="pull-el pull-refresh">
                        <div class="arrow-wrapper"><span class="scroll-icon-arrow flip-down"></span></div>
                        <div class="loading-container refresh-loading">
                            <svg class="spinner show" viewBox="0 0 44 44">
                                <circle class="path" fill="none" stroke-width="4" stroke-linecap="round" cx="22" cy="22" r="20"></circle>
                            </svg>
                        </div>
                    </section>
                    <ul class="record-list">
                        <!--<li class="invest-tr" data-id="10">-->
                            <!--<span class="name">翼支付红包</span>-->
                            <!--<span class="time">2017.12.05  14:26:30</span>-->
                            <!--<span class="money">+30.00</span>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<th:block th:include="pages/wap/common/resources::wapresources-foot"></th:block>
<script src="/wap/js/lib/vendor/iscroll/iscroll-probe.js"></script>
<script src="/wap/js/common/list.js" type="text/javascript" charset="utf-8"></script>
<script src="/wap/js/record.js" type="text/javascript" charset="utf-8"></script>
</html>