<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no" />
    <meta name="format-detection" content="telephone=no">
    <title>翼支付-公众号-抢红包-红包详情</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/redpacketDetail.css">
    <script src="../js/lib/adapt.js"></script>
</head>
<body>
<div class="scroll scroll-active">
    <div class="content bg-grey">
        <div class="pd-tabs">
            <div class="containers">
                <div class="top-banner">
                    <a href="">红包记录</a>
                </div>
                <div class="avatar-con">
                    <div class="avatar">
                        <img src="../images/avatar.png" alt="">
                    </div>
                    <p>欢迎您，GT（<span>13467445482</span>）</p>
                    <p>恭喜发财，大吉大利</p>
                </div>

                <div class="detail-list-wrap">
                    <span class="title">10个红包共300.00元</span>
                    <ul class="detail-list">
                        <li>
                            <div class="detail-con">
                                <div class="avatar">
                                    <img src="../images/avatar.png" alt="">
                                </div>
                                <span class="name">用户昵称用户昵称用户昵称用户昵称用户昵称用户昵称用户昵称用户昵称用户昵称</span>
                                <span class="time">2017.12.06 21:30</span>
                                <span class="money">2.30元</span>
                            </div>
                        </li>
                        <li>
                            <div class="detail-con">
                                <div class="avatar">
                                    <img src="../images/avatar.png" alt="">
                                </div>
                                <span class="name">用户昵称</span>
                                <span class="time">2017.12.06 21:30</span>
                                <span class="money">4.30元</span>
                                <span class="best"><i></i>最佳手气</span>
                            </div>
                        </li>
                        <li>
                            <div class="detail-con">
                                <div class="avatar">
                                    <img src="../images/avatar.png" alt="">
                                </div>
                                <span class="name">用户昵称</span>
                                <span class="time">2017.12.06 21:30</span>
                                <span class="money">2.30元</span>
                            </div>
                        </li>
                        <li>
                            <div class="detail-con">
                                <div class="avatar">
                                    <img src="../images/avatar.png" alt="">
                                </div>
                                <span class="name">用户昵称</span>
                                <span class="time">2017.12.06 21:30</span>
                                <span class="money">2.30元</span>
                            </div>
                        </li>
                        <li>
                            <div class="detail-con">
                                <div class="avatar">
                                    <img src="../images/avatar.png" alt="">
                                </div>
                                <span class="name">用户昵称</span>
                                <span class="time">2017.12.06 21:30</span>
                                <span class="money">2.30元</span>
                            </div>
                        </li>
                        <li>
                            <div class="detail-con">
                                <div class="avatar">
                                    <img src="../images/avatar.png" alt="">
                                </div>
                                <span class="name">用户昵称</span>
                                <span class="time">2017.12.06 21:30</span>
                                <span class="money">2.30元</span>
                            </div>
                        </li>
                        <li>
                            <div class="detail-con">
                                <div class="avatar">
                                    <img src="../images/avatar.png" alt="">
                                </div>
                                <span class="name">用户昵称</span>
                                <span class="time">2017.12.06 21:30</span>
                                <span class="money">2.30元</span>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
<script src="../js/lib/fastclick-jquery.js"></script>
<script src="../js/common/util.js" type="text/javascript" charset="utf-8"></script>
</html>