<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>翼支付-公众号-代金券查询</title>
    <th:block th:include="pages/wap/common/resources::wapresources-head"></th:block>
    <link rel="stylesheet" href="/wap/css/voucherQuery.css">
</head>
<body>
<div class="scroll scroll-active">
    <div class="content bg-grey">
        <nav class="bg-white tabs">
            <a class="active" data-type="0">可使用</a>
            <a data-type="1">已过期</a>
        </nav>
        <div class="pd-tabs">
            <ul class="tab-containers">
                <!--可使用 start-->
                <li class="pd-tab" data-type="0">
                    <ul class="voucher-list">
                        <li th:if="${noExpire!=null}" th:each="obj:${noExpire}">
                            <div class="voucher-con">
                                <span class="vouche"></span>
                                <span class="name">代金券编号</span>
                                <span class="money" th:inline="text">[[${obj['tvCode']}]]</span>
                                <span class="time" th:inline="text">有效期：[[${obj['tvBeginTime']}]]-[[${obj['tvEndTime']}]]</span>
                                <span class="time" th:text="${obj['tvRemark']}">说明</span>
                            </div>
                        </li>


                    </ul>
                </li>
                <!--可使用 end-->

                <!--已过期 start-->
                <li class="pd-tab" data-type="1">
                    <ul class="voucher-list">
                        <li th:if="${expire!=null}" th:each="obj:${expire}">
                            <div class="voucher-con">
                                <span class="vouche-gray"></span>
                                <span class="name">代金券编号</span>
                                <span class="money" th:inline="text">[[${obj['tvCode']}]]</span>
                                <span class="time" th:inline="text">有效期：[[${obj['tvBeginTime']}]]-[[${obj['tvEndTime']}]]</span>
                                <span class="time" th:text="${obj['tvRemark']}">说明</span>
                            </div>
                        </li>


                    </ul>
                </li>
                <!--已过期 end-->

            </ul>
        </div>
    </div>

</div>
</body>
<th:block th:include="pages/wap/common/resources::wapresources-foot"></th:block>
<script src="/wap/js/balanceInquiries.js" type="text/javascript" charset="utf-8"></script>
<script>
    (function() {
        FastClick.attach(document.body);

        //切换tab
        $('.tabs>a').on('click', function() {
            var type = $(this).attr('data-type');
            var thisList =  $('.pd-tab[data-type="' + type + '"]');
            $('.tabs>a').removeClass('active');
            $(this).addClass('active');
            $('.pd-tab').hide();
            thisList.show();
        });

    })();
</script>
</html>