<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:w>
<head>
<meta charset="UTF-8" />
  <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/common.css"/>
  <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>
</head>
<body style="padding:30px 60px 10px 10px">
<form class="layui-form" >
  <input type="hidden" th:if="${menuObject!=null}" name="id" th:value="${menuObject?.id}" />
  <div class="layui-form-item">
    <label class="layui-form-label">菜单名称</label>
    <div class="layui-input-block">
      <input type="text" name="mName" required="required" th:value="${menuObject?.mName}" lay-verify="required" placeholder="请输入菜单名称" autocomplete="off" class="layui-input" />
    </div>
  </div>
  <div class="layui-form-item" th:if="${#httpServletRequest.getParameter('pName')!=null or menuObject!=null}">
    <label class="layui-form-label">上级菜单</label>


    <div class="layui-input-block">
      <input th:if="${menuObject==null}"  type="text" readonly="true" th:value="${#httpServletRequest.getParameter('pName')}" class="layui-input" />
      <input th:if="${menuObject==null}" type="hidden" name="mParentId"  th:value="${menuObject!=null?menuObject?.mParentId:#httpServletRequest.getParameter('pid')}"  />
      <select  th:if="${menuObject!=null}" name="mParentId" lay-verify="required" >
        <option value="-1" >--无上级菜单--</option>
        <option th:each="am:${allMenu}" th:value="${am['id']}" th:text="${am['mName']}" th:if="${am['id']!=menuObject?.id and am['mParentId']==-1}" th:selected="${menuObject?.mParentId==am['id']}" >普通用户</option>


      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">url地址</label>
    <div class="layui-input-block">
      <input type="text" name="mUrl" required="required" th:value="${menuObject?.mUrl}"  lay-verify="required" placeholder="请输入url地址" autocomplete="off" class="layui-input" />
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-block">
      <input type="text" name="mSort" required="required" th:value="${menuObject?.mSort}"   lay-verify="required|number" placeholder="排序" autocomplete="off" class="layui-input" />
    </div>
  </div>  <div class="layui-form-item">
    <label class="layui-form-label">图标</label>
    <div class="layui-input-block">
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-desktop'}" value="fa-desktop" title="<span class='fa fa-desktop fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-weixin'}" value="fa-weixin"  title="<span class='fa fa-weixin fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-user'}" value="fa-user"  title="<span class='fa fa-user fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-users'}" value="fa-users"  title="<span class='fa fa-users fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-list'}" value="fa-list"  title="<span class='fa fa-list fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-list-alt'}" value="fa-list-alt"  title="<span class='fa fa-list-alt fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-file-text-o'}" value="fa-file-text-o"  title="<span class='fa fa-file-text-o fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-table'}" value="fa-table"  title="<span class='fa fa-table fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-bar-chart'}" value="fa-bar-chart"  title="<span class='fa fa-bar-chart fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-clock-o'}" value="fa-clock-o"  title="<span class='fa fa-clock-o fa-3x'></span>" >
      <input type="radio" name="mIcon" th:checked="${menuObject?.mIcon=='fa-envelope'}" value="fa-envelope"  title="<span class='fa fa-envelope fa-3x'></span>" >



    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script type="text/javascript">
  initForm("do-edit-menu",".layui-form")
</script>
</body>
</html>