<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
  <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>
</head>
<body style="padding:40px 60px 10px 10px">
<form class="layui-form" >
  <input th:if="${userObject!=null and userObject.id!=null}" type="hidden" name="id" th:value="${userObject.id}"/>
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="uName" required="required" title="用户名"  lay-verify="required" th:value="${userObject?.uName}" placeholder="请输入用户名" autocomplete="off" class="layui-input" />
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密　码</label>
    <div class="layui-input-block">
      <th:block th:if="${userObject!=null and userObject.id!=null}">
        <input type="password" name="uPassword" placeholder="请输入密码" autocomplete="off" class="layui-input" />
      </th:block>
      <th:block th:unless="${userObject!=null and userObject.id!=null}">
        <input type="password" name="uPassword" required="required"  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input" />

      </th:block>
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script type="text/javascript">
    initForm("do-edit-user",".layui-form")
</script>
</body>
</html>