<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:w>
<head>
<meta charset="UTF-8" />
  <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/common.css"/>
  <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>
</head>
<body style="padding:30px 60px 10px 10px">
<form class="layui-form" >
  <input type="hidden" name="actid" th:value="${#httpServletRequest.getParameter('idStr')}" />

  <div class="layui-form-item">
    <label class="layui-form-label">应用</label>
    <div class="layui-input-inline">
      <select name="appid" lay-verify="required" lay-filter="appObj" >
        <option>请选择</option>
        <option th:each="app:${apps}" th:value="${app.appid}" th:text="${app.name}"></option>

      </select>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">图文消息</label>
    <div class="layui-input-inline" >
      <select name="msgid" id="msgSelect" lay-verify="required"  >
        <option>请选择</option>


      </select>
  </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-filter="save" lay-submit="">提交</button>
      <button class="layui-btn" lay-filter="saveAndPush" lay-submit=""   >提交并推送</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script type="text/javascript">

    layui.use('form', function(){
        var form = layui.form;
        form.on('select(appObj)', function(data){
            $.post("get-msg-by-appid",{appid:data.value},function(data){
                $("#msgSelect").html("<option >请选择</option>");
                if(data.reCode==1 && data.data!=null){

                    var options="";
                    var objData=data.data;
                    for(var d=0;d<objData.length;d++){
                        options+="<option value='"+objData[d].id+"'>"+objData[d].title+"</option>";

                    }

                    $("#msgSelect").html(options);

                }
                form.render();
            },"JSON")



            //alert(data.value);
        })
        form.on('submit(save)', function(data){
            return  commonSubmit("do-activity-bind-msg",".layui-form");
        })
        form.on('submit(saveAndPush)', function(data){
            return  commonSubmit("do-activity-bind-msg-and-Push",".layui-form");
        })
        //各种基于事件的操作，下面会有进一步介绍
    });

</script>
</body>
</html>