<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <th:block th:include="pages/manager/common/cssResources::syscssresources"></th:block>
        <th:block th:include="pages/manager/common/jsResources::sysjsresources"></th:block>
        <script type="text/javascript"  th:inline="javascript">
           initPage(/*[[${userPage!=null?userPage.total:0}]]*/ );
        </script>
	</head>
    <body class="withvernav">
    <div class="bodywrapper">

        <th:block th:include="pages/manager/common/header::sysheader"></th:block>
        <th:block th:include="pages/manager/common/menus::sysmenus"></th:block>
       <div class="centercontent tables">

           <!-- <div class="pageheader notab">
           <h1 class="pagetitle">Tables</h1>
           <span class="pagedesc">This is a sample description of a page</span>

       </div>--><!--pageheader-->

            <div id="contentwrapper" class="contentwrapper">
                <div class="contenttitle2">
                    <h3>用户列表</h3>

                </div><!--contenttitle-->

                <div class="tableoptions">

                    <form class="layui-form">
                        <div class="layui-form-item2 layui-form-item">
                        <div class="float-left-div" >

                            <label class="layui-form-label" >手机号</label>
                            <div class="layui-input-inline" >
                                <input class="layui-input" name="tuTelphone" th:value="${#httpServletRequest.getParameter('tuTelphone')}"/>
                            </div>
                        </div>

                            <a href="javascript:void(0)" onclick="jQuery('.layui-form').submit()" class="btn btn_search radius50"><span>Search</span></a>



                    </div>
                    </form>
                    <!-- <select class="radius3">
                         <option value="">Show All</option>
                         <option value="">Rendering Engine</option>
                         <option value="">Platform</option>
                     </select> &nbsp;
                     <button class="radius3">Apply Filter</button>
                     <input class="radius3" style="padding: 6px 5px 6px 5px;margin-left:10px;"/>-->
                </div><!--tableoptions-->

                <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <colgroup>
                        <!--<col class="con0" style="width: 4%" />-->
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />

                    </colgroup>
                    <thead>

                    <tr>
                        <th class="head1" width="50px">图像</th>
                        <th class="head1">手机号</th>
                        <th class="head0">微信名称</th>

                        <th class="head1">绑定时间</th>


                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="obj:${userPage?.result}">
                        <td ><img height="40px" width="40px" th:src="${obj['headimgurl']}"></td>
                        <td th:text="${obj['tuTelphone']}">Trident</td>
                        <td th:text="${obj['nickname']}">Internet Explorer 4.0</td>

                        <td th:text="${obj['createTime']}">Win 95+</td>


                    </tr>

                    </tbody>

                </table>

                <div id="pages"></div>
            </div>
        </div>

    </div>
    <script type="text/javascript">

        layui.use('form', function(){
            var form = layui.form;

        })

    </script>
	</body>

</html>
