<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:w>
<head>
<meta charset="UTF-8" />
  <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/common.css"/>
  <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>
</head>
<body style="padding:30px 60px 10px 10px">
<form class="layui-form" >
  <input type="hidden" th:if="${eventRuleObject!=null}" name="id" th:value="${eventRuleObject?.id}" />
  <input type="hidden" th:if="${appid!=null}" name="appid" th:value="${appid}" />
  <div class="layui-form-item">
    <label class="layui-form-label">标题</label>
    <div class="layui-input-block">
      <input type="text" name="title" required="required" th:value="${eventRuleObject?.title}" lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input" />
    </div>
  </div>
  <div class="layui-inline">
    <label class="layui-form-label">事件类型</label>
    <div class="layui-input-inline">
      <select name="event_type" id="event_type" lay-filter="type">
        <option value="1" th:selected="${eventRuleObject?.event_type == '1'}">关注时自动回复（唯一）</option>
        <option value="2" th:selected="${eventRuleObject?.event_type == '2'}">消息自动回复（唯一）</option>
        <option value="3" th:selected="${eventRuleObject?.event_type == '3'}">关键字回复</option>
      </select>
    </div>
  </div>
    <div class="layui-inline">
    <label class="layui-form-label">图文ID</label>
    <div class="layui-input-inline">
      <select name="message_id" id="message_id" lay-filter="type">
          <option th:each="message:${messageList}" th:value="${message?.id}" th:text="${message?.title}" th:selected="${eventRuleObject?.message_id == message?.id}"> 图文ID</option>
      </select>
    </div>
  </div>
    <div class="layui-form-item" style="margin-top: 15px">
        <label class="layui-form-label">回复内容</label>
        <div class="layui-input-block">
            <textarea name="content" th:text="${eventRuleObject?.content}" placeholder="在本处输入内容后，本规则将会以文字（非图文）的形式回复" autocomplete="off" class="layui-textarea"></textarea>
        </div>
    </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script type="text/javascript">
  initForm("save",".layui-form")
</script>
</body>
</html>