<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:w>
<head>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/common.css"/>
    <th:block th:include="pages/manager/common/cssResources::syscssresources"></th:block>
    <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>

</head>
<body style="padding:30px 10px 10px 10px">
<form class="layui-form">
    <input type="hidden" th:if="${pushObject!=null}" name="id" th:value="${pushObject?.id}"/>
    <input type="hidden" th:if="${appid!=null}" name="appid" th:value="${appid}"/>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-inline">
                <input type="text" name="title" placeholder="请输入昵称" th:value="${pushObject?.title}" lay-verify="required"
                       placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">推送时间</label>

            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="ptime" id="push_time"
                       placeholder="yyyy-MM-dd HH:mm:ss"
                       th:value="${pushObject !=null && pushObject.push_time != null ? #dates.format(pushObject.push_time, 'yyyy-MM-dd HH:mm:ss'):''}">
                <span>（空则立即推送）</span>
            </div>

        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">推送类型</label>
            <div class="layui-input-inline">
                <select name="push_type" id="push_type" lay-filter="selectType">
                    <option value="1" th:selected="${pushObject?.push_type == 1}"> 文字</option>
                    <option value="2" th:selected="${pushObject?.push_type == 2}"> 图文</option>
                </select>
            </div>
        </div>

        <div class="layui-inline" id="centextObj">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-show" name="push_content" th:value="${pushObject?.push_content}"
                       placeholder="请输入文字内容"
                       autocomplete="off" class="layui-input"/>

            </div>

        </div>
        <div class="layui-inline layui-hide" id="msgObj">

            <div class="layui-input-block">
                <select name="push_messageid" id="push_messageid" lay-filter="msg">
                    <option th:each="message:${messageList}" th:value="${message?.id}" th:text="${message?.title}"
                            th:selected="${pushObject?.push_messageid eq message?.id}"> 图文ID
                    </option>
                </select>

            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">标签</label>
            <div class="layui-input-inline">
                <select name="tag_id" lay-filter="type">
                    <option value="0" th:selected="${tags?.id == pushObject?.tag_id}">全部</option>
                    <option th:each="tags:${tagsList}" th:value="${tags?.id}" th:text="${tags?.name}" th:selected="${tags?.id == pushObject?.tag_id}">微信用户标签</option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline" style="margin-bottom:19px;">
            <button class="layui-btn" lay-submit="lay-submit" id="submit" lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>

        </div>

    </div>


</form>
<script type="text/javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //时间选择器
        laydate.render({
            elem: '#push_time'
            , type: 'datetime'
        });
    });
    layui.use('form', function () {
        var form = layui.form;
        form.on('checkbox(allChoose)', function (data) {
            var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
            child.each(function (index, item) {
                item.checked = data.elem.checked;
            });
            form.render('checkbox');
        });
        //显示隐藏文字/图文
        form.on('select(selectType)', function (data) {
            if (data.value == "1") {
                if (!$("#msgObj").hasClass("layui-hide")) {
                    $("#msgObj").addClass("layui-hide");
                }
                $("#centextObj").removeClass("layui-hide");
            } else if (data.value == "2") {
                $("#msgObj").removeClass("layui-hide");
                if (!$("#centextObj").hasClass("layui-hide")) {
                    $("#centextObj").addClass("layui-hide");
                }
            }

        });
        jQuery(".layui-form").eq(0).submit(function (data) {
            console.log(data);
        });
    });
    var pushType = jQuery("#push_type").val();
    if (pushType == "1") {
        if (!$("#msgObj").hasClass("layui-hide")) {
            $("#msgObj").addClass("layui-hide");
        }
        $("#centextObj").removeClass("layui-hide");
    } else if (pushType == "2") {
        $("#msgObj").removeClass("layui-hide");
        if (!$("#centextObj").hasClass("layui-hide")) {
            $("#centextObj").addClass("layui-hide");
        }
    }
    initForm("save", ".layui-form")
</script>
</body>
</html>