<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <th:block th:include="pages/manager/common/cssResources::syscssresources"></th:block>
        <th:block th:include="pages/manager/common/jsResources::sysjsresources"></th:block>
        <script type="text/javascript"  th:inline="javascript">
            initPage(/*[[${tagsPage!=null?tagsPage.total:0}]]*/ );
        </script>
	</head>
    <body class="withvernav">
    <div class="bodywrapper">

        <th:block th:include="pages/manager/common/header::sysheader"></th:block>
        <th:block th:include="pages/manager/common/menus::sysmenus"></th:block>
        <div class="centercontent tables">

            <!-- <div class="pageheader notab">
            <h1 class="pagetitle">Tables</h1>
            <span class="pagedesc">This is a sample description of a page</span>

        </div>--><!--pageheader-->

            <div id="contentwrapper" class="contentwrapper">
                <div class="contenttitle2">
                    <h3>微信用户标签列表</h3>
                </div><!--contenttitle-->
                <div class="tableoptions">
                    <form class="layui-form">
                        <div class="layui-form-item2 layui-form-item" style="float: left;">
                            <div class="float-left-div" >
                                <label class="layui-form-label" >公众号</label>
                                <div class="layui-input-inline" >
                                    <select name="appid" id="appid" lay-filter="appid">
                                        <option th:each="pubweixin:${pubweixinList}" th:value="${pubweixin?.appid}" th:text="${pubweixin?.name}" th:selected="${appid == pubweixin?.appid}"> 公众号名称</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                    <button class="radius3" id="createBtn" title="新建标签" onclick="openDialog('500px','340px','新建标签','edit?id=-1&appid='+jQuery('#appid').val())">新建标签</button> &nbsp;
                    <button class="radius3" type="button" id="syncTags" lay-filter="formDemo">刷新标签</button> &nbsp;
                </div><!--tableoptions-->
                <table cellpadding="0" cellspacing="0" border="0" id="table2" class="stdtable stdtablecb">
                    <colgroup>
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="head0">标签id</th>
                        <th class="head1">标签名</th>
                        <th class="head0">粉丝数量</th>
                        <th class="head1">创建日期</th>
                        <th class="head0">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="obj:${tagsPage?.result}">
                        <td th:text="${obj['id']}">Trident</td>
                        <td th:text="${obj['name']}">Internet Explorer 4.0</td>
                        <td th:text="${obj['count']}">Win 95+</td>
                        <td th:text="${obj['create_date']!=null ? #dates.format(obj['create_date'], 'yyyy-MM-dd HH:mm:ss'):''}">Win 95+</td>
                        <td class="center">
                            <div class="layui-btn-group">
                                <button class="layui-btn layui-btn-sm" th:onclick="'openDialog(\'500px\',\'340px\',\'修改标签\',\'edit?id='+${obj['id']}+'&appid='+${obj['appid']}+'\')'"  >修 改</button>
                                <button class="layui-btn layui-btn-sm layui-btn-danger" th:onclick="'del(\''+${obj['id']}+'\',\''+${obj['appid']}+'\')'" >删除</button>
                            </div>
                        </td>
                    </tr>

                    </tbody>

                </table>
                <div id="pages"></div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        layui.use('form', function(){
            var form = layui.form;
            form.on('select(appid)', function(data){
                jQuery.post("list",{appid:data.value},function(){
                    var currentUrl=window.parent.location.href;
                    if(currentUrl.indexOf("?")==-1){
                        top.location.href=currentUrl+"?appid="+data.value;
                        return ;
                    }else{
                        if(currentUrl.indexOf("appid")==-1){
                            top.location.href=currentUrl+"&appid="+data.value;
                        }else{
                            top.location.href=currentUrl.replace(/appid=[^&]+/,"appid="+data.value);
                        }
                    }
                });
            });
        })

        function del(obj,obj2) {
            //删除菜单
            layer.confirm('确定删除?',{icon:2,title:'删除'}, function(index){
                layer.close(index);
                //删除标签
                jQuery.post("delete",{id:obj,appid:obj2},function(data){
                    layer.msg(data.reMsg);
                    window.setTimeout(function(){
                        top.location.href=window.parent.location.href;
                    },500)
                });
            });
        }

        //立即同步微信用户标签
        jQuery("#syncTags").click(function(){
            jQuery.getJSON("/weixin/tags/alltags", {appid:jQuery("[name='appid']").val()}, function(data){
                layer.msg(data.retMsg);
                window.setTimeout(function(){
                    top.location.href=window.parent.location.href;
                },800)
            });
        });
    </script>
	</body>
	
</html>
