<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" th:w>
<head>
<meta charset="UTF-8" />
  <link type="text/css" rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"/>
  <link type="text/css" rel="stylesheet" href="/css/common.css"/>
  <th:block th:include="pages/manager/common/editResources::syseditjsresources"></th:block>
</head>
<body style="padding:30px 60px 10px 10px">
<form class="layui-form" >
  <input type="hidden" th:if="${userInfoObject!=null}" name="appid" th:value="${userInfoObject?.appid}" />
  <input type="hidden" th:if="${userInfoObject!=null}" name="openid" th:value="${userInfoObject?.openid}" />
  <input type="hidden" th:if="${batch!=null}" name="batch" th:value="${batch}" />

  <div class="layui-form-item">
    <label class="layui-form-label">标签</label>
    <div class="layui-input-block">
        <input type="checkbox" name="tagid_list" th:each="tags:${tagsList}"  th:checked="${#TdTool.checked(userInfoObject?.tagid_list,tags.id)}" th:value="${tags.id}" th:title="${tags.name}">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script type="text/javascript">
  initForm("save",".layui-form")
</script>
</body>
</html>