<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <th:block th:include="pages/manager/common/cssResources::syscssresources"></th:block>
        <th:block th:include="pages/manager/common/jsResources::sysjsresources"></th:block>
        <script type="text/javascript"  th:inline="javascript">
           initPage(/*[[${userPage!=null?userPage.total:0}]]*/ );
        </script>
	</head>
    <body class="withvernav">
    <div class="bodywrapper">

        <th:block th:include="pages/manager/common/header::sysheader"></th:block>
        <th:block th:include="pages/manager/common/menus::sysmenus"></th:block>
       <div class="centercontent tables">

           <!-- <div class="pageheader notab">
           <h1 class="pagetitle">Tables</h1>
           <span class="pagedesc">This is a sample description of a page</span>

       </div>--><!--pageheader-->

            <div id="contentwrapper" class="contentwrapper">
                <div class="contenttitle2">
                    <h3>用户列表</h3>
                </div><!--contenttitle-->
                <div class="tableoptions">
                    <button class="radius3" id="createBtn" onclick="openDialog('400px','340px','创建公众号','edit')" title="table2">查询</button> &nbsp;
                </div><!--tableoptions-->
                <table cellpadding="0" cellspacing="0" border="0" id="table2" lay-filter="demo" class="stdtable stdtablecb">
                    <colgroup>
                        <!--<col class="con0" style="width: 4%" />-->
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th class="head1">头像</th>
                        <th class="head0">昵称</th>
                        <th class="head1">openid</th>
                        <th class="head0">appid</th>
                        <th class="head1">关注状态</th>
                        <th class="head0">性别</th>
                        <th class="head1">国家</th>
                        <th class="head0">省份</th>
                        <th class="head1">城市</th>
                        <th class="head0">关注日期</th>
                        <th class="head1">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="obj:${userPage?.result}">
                       
                        <td th:attr="src=${obj['headimgurl']},title=#{logo}">Trident</td>
                        <td th:text="${obj['nickname']}">Internet Explorer 4.0</td>
                        <td th:text="${obj['openid']}">Win 95+</td>
                        <td th:text="${obj['appid']}">Win 95+</td>
                        <td th:text="${obj['subscribe']}">Win 95+</td>
                        <td th:text="${obj['sex']}">Win 95+</td>
                        <td th:text="${obj['country']}">Win 95+</td>
                        <td th:text="${obj['province']}">Win 95+</td>
                        <td th:text="${obj['city']}">Win 95+</td>
                        <td th:text="${#dates.format(obj['subscribe_time'], 'yyyy-MM-dd HH:mm:ss')}">Win 95+</td>

                        <td class="center">
                            <div class="layui-btn-group">
                            <button class="layui-btn layui-btn-sm" th:onclick="'openDialog(\'400px\',\'340px\',\'修改备注\',\'edit?openid='+${obj['openid']}+'\')'" >修 改</button>
                            <button class="layui-btn layui-btn-sm layui-btn-danger" th:onclick="'del(\''+${obj['openid']}+'\')'" >删除</button>
                            </div>
                    </tr>

                    </tbody>

                </table>
                <div id="pages"></div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        jQuery.noConflict();

        // 在这段代码作用区域中你可以使用$来调用jQuery
        jQuery(document).ready(function($){

        });

        function del(obj){
            layer.confirm('确定删除?',{icon:2,title:'删除'}, function(index){
                layer.close(index);
                //向服务端发送删除指令
                jQuery.post("delete",{appid:obj},function(data){
                    if(data.reCode==1){
                        layer.msg(data.reMsg);
                        window.setTimeout(function(){
                            top.location.href=window.parent.location.href;
                        },500)
                    }
                });
            });
        }

    </script>
	</body>
	
</html>
