span.style1{  width:25px;display: inline-block;text-align:center;  }
.layui-form-item2{  margin-bottom: 0px;  }
.layui-form-item2 .layui-input-inline{  width: auto;  }
.layui-form-item2 .layui-form-label{  width: auto;  padding-left: 0px;  }
.layui-form-item2 .float-left-div{ float: left}
.layui-form-item2 a.btn_search{ background-position: -10px -9px;line-height: 26px}